<section>
  <div id="container">
    <div class="item">
      <h2>総売上</h2>
      <p><%= @sum %></p>
    </div>
    <div class="item">
      <h2>1月の総売上</h2>
      <p><%= @sum2 %></p>
    </div>
    <div class="item">
      <h2>商品単価の平均</h2>
      <p><%= @avg %></p>
    </div>
    <div class="item">
      <h2>ユーザー数</h2>
      <p><%= @userCount %></p>
    </div>
  </div>
  <div id="container">
    <div class="item">
      <h2>商品の最大価格</h2>
      <p><%= @maxPrice %></p>
    </div>
    <div class="item">
      <h2>商品の最小価格</h2>
      <p><%= @minPrice %></p>
    </div>
    <div class="item">
      <h2>総売上</h2>
      <p><%= @sum %></p>
    </div>
    <div class="item">
      <h2>1月の総売上</h2>
      <p><%= @sum2 %></p>
    </div>
  </div>
  <div id="container">
    <div class="item">
      <h2>1月のアクセスユーザー数</h2>
      <p><%= @accesslog %></p>
    </div>
    <div class="item">
      <h2>1月の総売上</h2>
      <p><%= @sum2 %></p>
    </div>
    <div class="item">
      <h2>総売上</h2>
      <p><%= @sum %></p>
    </div>
    <div class="item">
      <h2>1月の総売上</h2>
      <p><%= @sum2 %></p>
    </div>
  </div>

    <% @prefectures.each do |a|%>
    <div id="container">
      <div class="item">
        <h2> 都道府県id: <%= a["count(*)"] %></h2>
        <p><%= a["prefecture_id"] %></p>
      </div>
    </div>
    <% end %>

</section>